<nav class="navbar navbar-expand navbar-dark bg-dark px-2">
    <div class="side-nav-button p-2 me-3 text-light" (click)="SideNavToggle()">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
       
    <div class="navbar-collapse">
      <ul class="navbar-nav ">
         <li class="nav-item text-light d-inline p-2" (click)="sideheadercontent(1)" *ngFor="let header of headers">
            {{header.subjectheaderName}}
         </li>
        </ul>     
    </div>
         
      
    
    <form class="d-flex me-5">
        <input class="form-control me-2" type="search" placeholder="Search">
     <button class="btn btn-outline-light" type="submit">Search</button>
    </form>
    <div class="profile-logo dropstart">
        <button class="btn btn-outline-light">Alok</button>
        
    </div>

  </nav>